*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 50px;
    background-color: #F8F9FA;
}
.logoimg{
   max-width: 30px;
}
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);  
}
.search input{
    height: 30px;
    color: grey;
    text-indent: 25px;
    background: #E5E5E5;
}
.search input:focus{
     box-shadow: none;
     border: 2px solid blue;
}
.search .fa-search{
     position: absolute;
     top: 8px;
     left: 11px;
}

.nav-item a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}
.sez-blu{
    background: #1B72E8;
    width: 100%;
    color: white;
}
.wrapper{
    display: flex;
}
.explorer{
    background: white;
   flex: 1;
   min-height: 1000px;
}
.nav{
    width: 75px; 
}
/* LABEL */
.lbl{
    padding: 2px 8px;
    background: #165bba;
    border-radius: 43%;
    color: white;
}
.fixed{
    height: calc(100vh - 50px);
    position: fixed;
    left: 0;
    background: linear-gradient(45deg, #132940  60%, #051e34 60%);
}
.round_circle {
    padding-right: 25px;
    padding-left: 7px;
    padding-top: 8px;
    padding-bottom: 8px;
    display: inline-block;
    text-align: center;
    width: 23px;
    border: 1px solid #f16450;
    border-radius: 20px;
}
.orange{
    background: orange;
}
@media screen and (min-width: 990px) {
    .nav{
        width: 150px;
    }
    
}
