*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    background-color: #F8F9FA;
}
.logoimg{
   max-width: 30px;
}
.search{
    position: relative;
    box-shadow: 0 0 40px rgba(51, 51, 51, .1);  
}
.search input{
    height: 30px;
    color: grey;
    text-indent: 25px;
    background: #E5E5E5;
}
.search input:focus{
     box-shadow: none;
     border: 2px solid blue;
}
.search .fa-search{
     position: absolute;
     top: 8px;
     left: 11px;
}
.nav-item i{
}
.nav-item a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
 
.prova{
    width: 100px;
    height: 50px;
    border: 1px solid black;
}

main{
    background: red;
}